*.py[cod]
*.swp
controller_customization_new/other_files/.vim/bundle/Vundle.vim/.gitignore
controller_customization_new/other_files/.vim/bundle/vim-airline-themes/.gitignore
controller_customization_new/other_files/.vim/bundle/vim-airline-themes/.travis.yml
controller_customization_new/other_files/.vim/bundle/vim-airline-themes/autoload/airline/themes/ayu_dark.vim
controller_customization_new/other_files/.vim/bundle/vim-airline-themes/autoload/airline/themes/ayu_light.vim
controller_customization_new/other_files/.vim/bundle/vim-airline-themes/autoload/airline/themes/base16_adwaita.vim
controller_customization_new/other_files/.vim/bundle/vim-airline-themes/autoload/airline/themes/base16_nord.vim
controller_customization_new/other_files/.vim/bundle/vim-airline-themes/autoload/airline/themes/base16_vim.vim
controller_customization_new/other_files/.vim/bundle/vim-airline-themes/autoload/airline/themes/dracula.vim
controller_customization_new/other_files/.vim/bundle/vim-airline-themes/autoload/airline/themes/fruit_punch.vim
controller_customization_new/other_files/.vim/bundle/vim-airline-themes/autoload/airline/themes/night_owl.vim
controller_customization_new/other_files/.vim/bundle/vim-airline-themes/autoload/airline/themes/ouo.vim
controller_customization_new/other_files/.vim/bundle/vim-airline-themes/autoload/airline/themes/peaksea.vim
controller_customization_new/other_files/.vim/bundle/vim-airline-themes/autoload/airline/themes/solarized_flood.vim
controller_customization_new/other_files/.vim/bundle/vim-airline-themes/test/
controller_customization_new/other_files/.vim/bundle/vim-airline/.gitignore
controller_customization_new/other_files/.vim/bundle/vim-fugitive/
controller_customization_new/other_files/.vim/bundle/vim-obsession/
controller_customization_new/other_files/tmux-continuum/.gitattributes
controller_customization_new/other_files/tmux-continuum/tmux-continuum/
controller_customization_new/other_files/tmux-resurrect/.gitattributes
controller_customization_new/other_files/tmux-resurrect/.gitignore
controller_customization_new/other_files/tmux-resurrect/.gitmodules
controller_customization_new/other_files/tmux-resurrect/.travis.yml
controller_customization_new/other_files/tmux-resurrect/tmux-resurrect/
